name: releases

on:
  push:
    tags:
      - '*'

jobs:
  documentation:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v1
    - name: Docs
      uses: steven0351/publish-jazzy-docs@v1
      with:
        personal_access_token: ${{ secrets.GITHUB_PERSONAL_ACCESS_TOKEN }}
        args: "--theme fullwidth --author \"Stefano Bertagno\""
